* {
    box-sizing: border-box;
}

body {
    background-image: url("../img/bg.jpg");
    font-family: Arial;
    margin: 0;
    padding: 8px;
}

html, body {
    height: 100%;
}

h1 {
    margin: 5px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.auth-reg-block {
    background-color: #ffffff;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.auth-reg-block__auth {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    height: 100%;
}

.auth-reg-block__reg {
    display: none;
    /*display: flex;*/
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    height: 100%;
}

.auth-reg-block__input {
    border: 1px solid #d5d5d5;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    margin: 10px 0;
    outline: none;
}


.auth-reg-block__input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
.auth-reg-block__input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
.auth-reg-block__input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
.auth-reg-block__input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
.auth-reg-block__input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.auth-reg-block__input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.auth-reg-block__input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.auth-reg-block__input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.auth-reg-block__input-block {
    display: flex;
    flex-direction: column;
}

.auth-reg-block__button {
    height: 40px;
    border-radius: 25px;
    margin: 10px 0;
    background: #57b846;
    color: #ffffff;
    border: 0;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.38);
    outline: none;
}

.auth-reg-block__button:hover {
    background: #60e64f;
}

.auth-reg-block__button:active {
    background: #3a8030;
}

.auth-reg-block__auth-reg-choice-block {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.auth-reg-block__select {
    border: 1px solid #d5d5d5;
    height: 40px;
    border-radius: 25px;
    margin: 10px 0;
    outline: none;
    text-align-last: center;
    text-align: center
}



.auth-reg-block__transition {
    height: 40px;
    border-radius: 25px;
    margin: 10px 0;
    background: #999999;
    color: #ffffff;
    border: 0;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.38);
    outline: none;
}

.auth-reg-block__transition:hover {
    background: #bcbcbc;
}

.auth-reg-block__transition:active {
    background: #646464;
}

.auth-reg-block__title {
}

.main-block {
    height: 100%;
}




.main-block__header {
    display: flex;
    justify-content: flex-end;
}

.main-block__content {
    width: 100%;
    height: 892px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.38);
    padding: 20px;
}

.main-block__content-admin {
    /*display: flex;*/
    display: none;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.main-block__input-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 0;
}

.main-block__input {
    margin: 0 5px;
}

.main-block__date {
    border-radius: 25px;
    border: 1px solid #d5d5d5;
    height: 30px;
    padding: 5px;
    outline: none;
    width: 152px;
}

.main-block__number-of-lesson-select {
    border: 1px solid #d5d5d5;
    border-radius: 25px;
    height: 30px;
    outline: none;
    text-align-last: center;
    text-align: center
}

.main-block__button {
    height: 30px;
    border-radius: 25px;
    background: #57b846;
    color: #ffffff;
    border: 0;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.38);
    outline: none;
    width: 152px;
}

.main-block__button:hover {
    background: #60e64f;
}

.main-block__button:active {
    background: #3a8030;
}

.main-block__table-of-students {
    border-collapse: collapse;
    border: 2px solid #ffffff;
    table-layout: fixed;

}

.main-block__table-of-students > thead > tr > th {
    border: 1px solid #d5d5d5;
    padding: 8px;
}

.main-block__table-of-students > tbody > tr > td {
    border: 1px solid #d5d5d5;
    padding: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.main-block__table-of-students > thead > tr > .main-block__row-name{
    width: 10%;
}

.main-block__logout-button {
    height: 40px;
    border-radius: 25px;
    margin: 10px 0;
    background: #57b846;
    color: #ffffff;
    border: 0;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.38);
    outline: none;
}

.main-block__logout-button:hover {
    background: #60e64f;
}

.main-block__logout-button:active {
    background: #3a8030;
}

.auth-reg-block__error {
    color: #bc1d1a;
    margin: 10px 0;
    text-align: center;
}
